<section id="posts" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        {% for post in paginator.posts %}
          <div>

            <div class="d-flex justify-content-between">
              <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                  <span>
              {% for tag in post.tags %}
                {% capture tag_name %}{{ tag }}{% endcapture %}
                <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
              {% endfor %}
            </span>
          </div>
            <span class="text-right ">
              {{ post.date | date: "%b %-d, %Y" }}
            </span>
            
            <p>
              {% if post.summary %}
                {{ post.summary }}
              {% else %}
                {{ post.excerpt }}
              {% endif %}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
