<div class="col-sm-3" id="sidebar">
  <div class="sticky-top">
    <div class="text-center sidebar-academic">
      <a href="https://guillaume.dubeaux.me"><img src="/img/GDmemoji.jpg" class="rounded-circle" alt="Guillaume Dubeaux, PhD" width="40%"></a>
      <h3 class="guillaume">Guillaume Dubeaux, Ph.D.</h3>
    </div>
    <div class="text-center">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://twitter.com/gdubeaux"><i class="fab fa-lg fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="https://scholar.google.com/citations?user=PIGWj2AAAAAJ&hl=en"><i class="ai ai-lg ai-google-scholar"></i></a></li>
        <li class="list-inline-item"><a href="http://orcid.org/0000-0003-0275-8467"><i class="ai ai-lg ai-orcid"></i></a></li>
        <li class="list-inline-item"><a href="https://www.researchgate.net/profile/Guillaume_Dubeaux"><i class="ai ai-lg ai-researchgate"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/guillaumedubeaux/"><i class="fab fa-lg fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div id="list-example" class="list-group">
      <a class="list-group-item list-group-item-action" href="#experience">Experiences</a>
      <a class="list-group-item list-group-item-action" href="#award">Awards</a>
      <a class="list-group-item list-group-item-action" href="#skills">Skills</a>
      <a class="list-group-item list-group-item-action" href="#education">Education</a>
      <a class="list-group-item list-group-item-action" href="#publication">Publications</a>
      <a class="list-group-item list-group-item-action" href="#communication">Communications</a>
      <a class="list-group-item list-group-item-action" href="#projects">Projects</a>
      <a class="list-group-item list-group-item-action list-group-item-info" href="/content/cv.pdf"><i class="fa fa fa-download"></i> Download my CV</a>
    </div>
  </div>
</div>
