.brand {
  margin-top: 6px;
  margin-bottom: 6px;
}

.brand span {
  color: $primary;
  font-size:1.6em;
  font-weight: lighter;
}

.digitalocean {
  a {
    text-decoration: none;

    &:hover {
      color: $warning;
      cursor: pointer;
    }
  }
}
