.navbar-brand h3 {
  font-weight: lighter;
  font-size: 2em;
}

.navbar-nav .nav-link {
  font-weight: lighter;
  font-size: 1.4em;
}

.nav-link {
  color: $info !important;

  &:hover {
    color: $secondary !important;
  }
}
