#posts {
  a {
    text-decoration: none;
    &:hover {
      color: $warning;
    }
  }
}

.post-date {
  color: $primary;
  font-weight: lighter;
}

.post-summary {
  margin-top: 20px;
  margin-bottom: 40px;
}

.post-summary {
  color: $primary;
}

.post-content a {
  color: $warning;
  &:hover {
    color: $primary !important;
  }
}

