#post {
  h1, h2, h3, h4 {
    color: $primary;
  }
  /******************************
   * STYLES FOR DISPLAYING CODE
   ******************************/
  // heading style for a code section
  h5 {
    background: none repeat scroll 0% 0% $code-heading-background;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    margin-bottom: 0px;
    border-radius: 3px 3px 0px 0px;
  }
  // main code section style
  .highlight {
    pre {
      font-size: 18px;
      padding: 10px;
      code {
        color: $code-text-color;
      }
    }
  }
  // copy btn style
  .btn-copy-code {
    color: $gray-900;
    padding-right: 5px;
    float: right;
    background: $code-heading-background;
    border: 0;
    font-size: 12px;
    margin-top: -30px;
    &:hover {
      cursor: pointer;
      color: $primary;
    }
  }
}
.post-title a {
  text-decoration: none;
  color: $primary;
  &:hover {
    color: $warning;
  }
}

.post-content {
  margin-top: 20px;
  margin-bottom: 40px;
}

.post-content a {
	color: $warning;
	&:hover {
      color: $primary;
    }
}
