#post {
  h1, h2, h3, h4 {
    color: $primary;
    padding-top: 10px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 12px 12px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 12px 12px 3px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 12px 12px 3px rgba(34, 25, 25, 0.4);
    margin-top: 20px;
    margin-bottom: 40px;
  }
  /******************************
   * STYLES FOR DISPLAYING CODE
   ******************************/
  // heading style for a code section
  h5 {
    background: none repeat scroll 0% 0% $code-heading-background;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    margin-bottom: 0px;
    border-radius: 3px 3px 0px 0px;
  }
  // main code section style
  .highlight {
    pre {
      font-size: 18px;
      padding: 10px;
      code {
        color: $code-text-color;
      }
    }
  }
  // copy btn style
  .btn-copy-code {
    color: $gray-900;
    padding-right: 5px;
    float: right;
    background: $code-heading-background;
    border: 0;
    font-size: 12px;
    margin-top: -30px;
    &:hover {
      cursor: pointer;
      color: $primary;
    }
  }
}

.post-tag {
    display: inline-block;
    background: rgba(106, 159, 181, 0.15);
    padding: 0 .5rem;
    margin-right: .5rem;
    border-radius: 4px;
    color: #6a9fb5;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 90%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition:all 0.1s ease-in-out
}

.post-tag:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right:.5em
}

.post-tag:hover {
    text-decoration: none;
    background: #6a9fb5;
    color:#fff
}

.tags-expo :target:before {
    content: "";
    display: block;
    height: 72px;
    margin:-72px 0 0
}

@media (min-width: 38em) {
    .tags-expo .tags-expo-list {
        font-size:0.9rem
    }

    .tags-expo .tags-expo-list .post-tag {
        margin:.2em .3em
    }
}

.tags-expo .tags-expo-section {
    font-family: "PT Sans", Helvetica, Arial, sans-serif
}

.tags-expo .tags-expo-section ul {
    list-style-type: circle;
    list-style-position: inside;
    padding:0
}

.tags-expo .tags-expo-section ul li {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    padding:0 1rem
}

.tags-expo .tags-expo-section ul li:hover {
    list-style-type: disc;
    padding:0 .5rem
}

.tags-expo .tags-expo-section a {
    text-decoration:none
}

.tags-expo .tags-expo-section .post-date {
    display: inline-block;
    font-size: 80%;
    color: #9a9a9a;
    margin: 0;
    padding:0
}
