.section-top{
  margin-bottom: 50px;
}

.other-sections{
  margin-top: 50px;
  margin-bottom: 50px;
}

.sidebar-academic {
  padding-bottom: 10px;
}

.guillaume{
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar-menu {
  margin-bottom: 20px;
}

.social-links {
  a {
    text-decoration: none;
    padding-right: 10px;

    &:hover {
      color: $warning;
      cursor: pointer;
    }
  }
}
