<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="container">
<section class="py-5">
                {% include breadcrumbs.html %}
    <div class="row">
      <div class="col text-justify">
<h2 class="text-primary">Archive for {{ page.tag }}</h2>
<ul>
{% for post in site.tags[page.tag] %}
  <li>{{ post.date | date: "%b %d, %Y" }} - <a href="{{ post.url }}">{{ post.title }}</a><br>
    {{ post.description }}
  </li>
{% endfor %}
</ul>
</div>
</div>
</section>
<hr>
{% include other_tags.html %}
</div>
{% include footer.html %}
</body>
</html>
